# Telegram Bot Configuration
BOT_TOKEN=YOUR_BOT_TOKEN_HERE

# Channel ID where updates will be sent
CHAT_ID=YOUR_CHAT_ID_HERE

# Token Contract Address
TOKEN_CA=EQBZ_cafPyDr5KUTs0aNxh0ZTDhkpEZONmLJA2SNGlLm4Cko

# Dexscreener URL mapping
DEXSCREENER_URL=https://dexscreener.com/ton/eqbcwe_iobxa4mt3rbchil2s4-v4yqs3wudt1-dvzoceemgo

# Update Interval in seconds (default: 60)
UPDATE_INTERVAL=60

# Dexscreener API Endpoint
DEXSCREENER_API=https://api.dexscreener.com/latest/dex/tokens/
